body,
html {
  height: 100%;
  background-color: none;
  box-sizing: border-box;
}

.page-link {
  list-style-type: none;
  text-decoration: none;
  position: fixed;
  top: 50%;
}
.page-link a {
  color: black;
  list-style: none;
  font-size: 3rem;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  background-color: wheat;
  width: 20rem;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}
.bold-T {
  color: aquamarine;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.page-link2 {
  list-style-type: none;
  text-decoration: none;
  position: fixed;
  top: 60%;
}
.page-link2 a {
  color: black;
  list-style: none;
  font-size: 3rem;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  background-color: wheat;
  width: 20rem;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}
.parallax {
  display: none;

  height: 50vh;
  width: 100vw;
  /* Create the parallax scrolling effect */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("road2.JPG") center/cover no-repeat fixed;
}
.phone-image-view {
  display: none;
}
@media screen and (max-width: 600px) {
  .parallax {
    background: url("road2.JPG");
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
  }
  .phone-image-view {
    display: block;
  }
  .parallax2 {
    display: none;
  }
  .parallax3 {
    display: none;
  }
  .parallax4 {
    display: none;
  }
  .parallax5 {
    display: none;
  }
}
.parallax {
  position: relative;
  display: flex;
  flex-direction: column;
}
.About-Me {
  /* position: absolute; */
  font-size: 5rem;
  margin: auto;
  justify-content: center;
  align-content: center;
  color: gray;
  border-bottom: 7px solid white;
}
/* End of first Parallax */
.parallax2 {
  /* The image used */
  background-image: url("team\ \(2\).JPG");

  /* Full height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  /* The image used */
  background-image: url("chess.JPG");

  /* Full height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax4 {
  /* The image used */
  background-image: url("night.PNG");

  /* Full height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax5 {
  /* The image used */
  background-image: url("team\ \(3\).JPG");

  /* Full height */
  height: 60%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Global styles.. */
.writeUps {
  height: auto;
  background-color: rgb(4, 18, 31);
  backdrop-filter: blur(10rem);
  position: relative;
}

.resumeText {
  color: white;
  font-size: 2.5rem;
  margin: auto;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.myFace {
  display: flex;
  margin-right: 30px;
  border-radius: 50%;
  float: right;
  width: 200px;
  height: 200px;
}
.summaryText {
  color: gray;
  font-size: 30px;
  text-align: justify;
  margin: 10rem;
}
.myFace1 {
  display: flex;
  margin-left: 30px;
  width: 300px;
  height: auto;
}
.aboutCode {
  color: whitesmoke;

  font-size: 2.5rem;
  margin: auto;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.Text {
  color: wheat;
  font-size: 2em;
  text-align: justify;
  /* transform: translateY(-15%); */
  margin: 10rem;
}
/* .junk {
  display: none;
} */
@media only screen and (max-width: 1200px) {
  .page-link {
    top: 10%;
  }
  .page-link a {
    font-size: 1rem;

    width: 20px;
  }
  .page-link2 {
    top: 20%;
  }
  .page-link2 a {
    font-size: 1rem;

    width: 20px;
  }
  .resumeText {
    font-size: 40px;
  }
  .About-Me {
    /* position: absolute; */
    font-size: 50px;
    margin: auto;
    justify-content: center;
    align-content: center;
    color: gray;
    border-bottom: 7px solid white;
  }
}
@media only screen and (max-width: 900px) {
  .resumeText {
    font-size: 25px;
  }
  .About-Me {
    /* position: absolute; */
    font-size: 30px;
    margin: auto;
    justify-content: center;
    align-content: center;
    color: gray;
    border-bottom: 7px solid white;
  }
  .summaryText {
    color: gray;
    font-size: 15px;
    text-align: justify;
    margin: 1rem;
  }
  .myFace {
    display: flex;
    margin-right: 30px;
    border-radius: 50%;
    float: right;
    width: 100px;
    height: auto;
  }
  .myFace1 {
    display: flex;
    margin-left: 30px;
    width: 100px;
    height: auto;
  }
  .aboutCode {
    color: whitesmoke;

    font-size: 30px;
    margin: auto;
    display: flex;
    padding-top: 2px;
    justify-content: center;
    align-content: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .Text {
    color: wheat;
    font-size: 15px;
    text-align: justify;
    /* transform: translateY(-15%); */
    margin: 1rem;
  }
}
