/* meadia query for intro section */

/* media for min-width: 1200px */
@media screen and (max-width: 1500px) {
  .my-face {
    /* width: 25%;
    height: auto;
    border-radius: 40%;
    border: none;
    margin-right: 30px;
    margin-top: 2rem; */
    display: flex;
    margin-right: 30px;
    border-radius: 15%;
    float: right;
    width: 30vw;
    height: 20vw;
    object-fit: contain;
  }
  img.imgContainer {
    /* transform: translateX(60%); */
    width: 90vw;
    height: 40vw;
  }
  .hello {
     color: rgb(33, 96, 119);
  }
  .column1 {
    display: none;
  }
  .column2 {
    display: none;
  }
  .column3 {
    display: none;
  }
  .column4 {
    display: none;
  }
  .column5 {
    display: none;
  }
  .grid {
    height: 70vh;
  }
  .typing1 {
    font-size: 25px;
  }
  .nav__link {
    /* display: inline; */
    color: white;
    font-weight: bold;
    padding: 10px;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }

  .footer__link {
    /* display: inline; */

    color: whitesmoke;
    font-weight: bold;
    padding: 5px;
    /* transform: translateX(-100rem); */
    font-size: 20px;
    margin-left: -2px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .icon-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .svg {
    font-size: 7rem;
    /* width: 10rem; */
    color: rgba(90, 86, 86, 0.838);
    font-weight: light;
    /*
    */
    /* margin-top: -15rem; */
    margin-left: 60%;
    /* background-color: red; */
  }

  /* ul.footer {
    margin-right: 10%;
  } */
  hr {
    width: 30px;
  }
  .icon-size {
    font-size: 25px;
    width: 40px;
  }
  .text-TC {
    font-size: 10px;
    margin-top: -2rem;
  }
  .column img {
    opacity: 0.8;
    cursor: pointer;
    margin-left: 1rem;
    /* width: 100rem; */
  }
  .P-Name {
    padding-left: 4rem;
  }
  .typing {
    font-size: 15px;
    background-size: 20px;
    /* color: rgb(28, 48, 45); */
     color: rgb(33, 96, 119);
    /* margin-left: 10px; */
  }
  span.bars {
    display: none;
  }
  .web-span {
    color: black;
    font-size: 25px;
    letter-spacing: 1rem;
  }
  .nav-header h2 {
    font-size: 40px;
  }
  .nav-links a {
    font-size: 1.3rem;
    margin-left: -1rem;
  }
  /* card sec */
  .section-card {
    margin-top: 10rem;
    margin-left: 10%;
    width: 80%;
    height: 100%;
  }
  .card {
    /* float: left; */
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .container {
    padding: 2px 16px;
  }
  .card1 {
    width: 40%;
    /* float: left; */
    margin-top: 2rem;
    /* margin-left: 10rem; */
    /* margin-top: 15rem;
    */
    padding: 4px;
  }
  .card3 {
    width: 100%;
    /* float: left; */
    margin-top: 3rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .svg1 {
    font-size: 6rem;
    width: 0.5rem;
    margin-left: 10%;
  }
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  /* stack images query */

  .team > div {
    margin: -10px;

    text-align: center;
    line-height: 70px;
    font-size: 20px;

    color: #787777;
  }
  .containerStack {
    display: grid;
    grid-template-areas: "stack";
    justify-content: center;
    align-items: center;
    height: 40vw;
    margin: -10px;
    transform: translateY(-2%);
  }
  .containerStack > img {
    grid-area: stack;
  }
  .containerStack > img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: contain;
  }
  .containerStack > img {
    --n-angle: calc(-1 * var(--angle));

    transform: rotate(var(--angle)) translateX(130px) rotate(var(--n-angle));
  }

  /* end of stack images query */
}
@media screen and (max-width: 1000px) {
  .team > div {
    color: #787777;
  }
  .containerStack {
    display: grid;
    grid-template-areas: "stack";
    justify-content: center;
    align-items: center;
    height: 40vw;
    margin: -10px;
    transform: translateY(20%);
  }
  .containerStack > img {
    grid-area: stack;
  }
  .containerStack > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
  }
  .containerStack > img {
    --n-angle: calc(-1 * var(--angle));

    transform: rotate(var(--angle)) translateX(120px) rotate(var(--n-angle));
  }
}
/* previously 550 */
@media screen and (max-width: 580px) {
  .grid {
    height: 50vh;
  }
  img.imgContainer {
    transform: translateX(0%);
    width: 100%;
  }
  .P-Name {
    color: rgb(206, 129, 42);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 10px;
    align-content: center;
    padding-left: 2rem;
  }
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    margin-left: 1rem;
  }
  .nav__link {
    /* display: inline; */
    color: white;
    font-weight: bold;
    padding: 10px;
    transform: translateX(-50%);
    font-size: 11px;
    font-family: "Courier New", Courier, monospace;
  }
  .hello {
    /* color: rgb(7, 9, 8); */
     color: rgb(33, 96, 119);
    margin-left: 10px;
    margin-top: 12rem;
  }
  .typing {
    font-size: 15px;
    background-size: 20px;
    /* color: rgb(129, 205, 189); */
     color: rgb(33, 96, 119);
    margin-left: 10px;
  }

  .typing1 {
    font-size: 15px;
    margin-left: 10px;
  }
  span.bars {
    display: block;
    margin-right: 1rem;
  }

  .my-face {
    /* width: 25%;
    height: auto;
    border-radius: 40%;
    border: 10px solid #0e0a08;
    margin-right: 30px;
    margin-top: 2rem;
    object-fit: cover; */
    display: flex;
    margin-right: 30px;
    border-radius: 10%;
    float: right;
    width: 30vw;
    height: 40vw;
    object-fit: contain;
    /* height: 200px; */
  }
  .column1 {
    display: none;
  }
  .column2 {
    display: none;
  }
  .column3 {
    display: none;
  }
  .column4 {
    display: none;
  }
  .column5 {
    display: none;
  }
  .svg {
    font-size: 50px;
  }
  .web-span {
    color: aquamarine;
    font-size: 10px;
    letter-spacing: 0.7rem;
  }
  .Html-link1 {
    font-size: 10px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .btn {
    font-size: 10px;
  }
  .nav-header h2 {
    font-size: 30px;
    align-items: center;
  }
  .nav-links a {
    font-size: 2rem;
    margin-left: -1rem;
  }
  /* stack images query */
  .team-section {
    background-color: #a3dac8;
    height: 100vmin;
  }
  .team > div {
    margin: -10px;
    color: #787777;

    text-align: center;
    line-height: 70px;
  }
  .meet {
    font-size: 15px;
    margin-top: 30px;
  }
  .containerStack {
    display: grid;
    grid-template-areas: "stack";
    justify-content: center;
    align-items: center;

    /* height: 20vw; */
    margin-left: -1em;
    padding: 10px;
    transform: translateY(-1em);
  }
  .containerStack > img {
    grid-area: stack;
  }
  .containerStack > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 160px;
    object-fit: fill;
  }
  .containerStack > img {
    --n-angle: calc(-1 * var(--angle));

    transform: rotate(var(--angle)) translateX(100px) rotate(var(--n-angle));
  }

  /* end of stack images query */
  /* footer for phone*/
  .footer__link {
    /* display: inline; */

    color: whitesmoke;
    font-weight: bold;
    padding: 5px;
    /* transform: translateX(-100rem); */
    font-size: 10px;
    margin-left: -2px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  ul.footer {
    margin-right: 10%;
  }
  hr {
    width: 30px;
  }
  .icon-size {
    font-size: 10px;
    width: 21px;
  }
  .text-TC {
    font-size: 5px;
    margin-top: -3rem;
    margin-left: -3rem;
  }

  .svg1 {
    font-size: 3rem;
    /* width: 10rem; */
    color: rgb(9, 7, 7);
    font-weight: light;
    /*
    */
    margin-top: -4rem;
    margin-left: 1%;
    /*
     background-color: red; */
  }
  .section-card {
    margin-top: 3rem;
    margin-left: 2rem;
  }
  /* card s */
  .card {
    /* float: left; */
    margin-top: -2rem;
    margin-left: 4rem;
  }
  .card1 {
    /* width: 10%; */
    /* float: left; */
    /* margin-top: 7rem; */
    /* margin-top: 15rem;
  */
    padding: 4px;
  }
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  /* qoute section */

  .quote {
    display: flex;
    justify-content: flex-start;
    height: 20px;
  }
  .quote h2 {
    font-size: 50px;
    margin-left: 10%;
    /* align-items: center; */
  }

  .quote-p {
    font-size: 40px;
    margin-top: 20%;
    margin-left: 30%;
  }
  /* slider */
  .slider {
    max-width: 100rem;
    height: 10rem;
    margin: 0 auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
  }
  .slide {
    position: absolute;
    top: 0;
    width: 99%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
  }
  .slider__btn {
    position: absolute;
    top: 50%;

    border: none;
    background: transparent;

    color: #fff;

    height: 1.5rem;
    width: 5.5rem;
    font-size: 1rem;
  }
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    /* transform: translateY(-10rem); */

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
  }
}
@media screen and (max-width: 360px) {
  .nav__link {
    /* display: inline; */

    font-size: 7px;
  }
  .meet {
    font-size: 15px;

    margin-top: 25px;
  }
  .containerStack {
    display: grid;
    grid-template-areas: "stack";
    justify-content: center;
    align-items: center;

    /* height: 20vw; */
    margin-left: -1em;
    padding: 10px;
    transform: translateY(-3.5em);
  }
  .containerStack > img {
    grid-area: stack;
  }
  .containerStack > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 150px;
    object-fit: fill;
  }
  .containerStack > img {
    --n-angle: calc(-1 * var(--angle));

    transform: rotate(var(--angle)) translateX(100px) rotate(var(--n-angle));
  }
}
@media screen and (min-width: 1500px) {
  .row1 {
    display: none;
  }
  img.imgContainer {
    transform: translateX(0%);
    width: 100%;
  }
  .icon-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .svg {
    font-size: 7rem;
    /* width: 10rem; */
    color: rgba(114, 108, 108, 0.806);
    font-weight: light;
    /*
    */
    /* margin-top: -15rem; */
    margin-left: 120%;
    /* background-color: red; */
  }
  span.bars {
    display: none;
  }

  .web-span {
    color: aquamarine;
    font-size: 30px;
    letter-spacing: 1rem;
  }
  /* section for mini-width */
  /* card sec */
  .section-card {
    margin-top: 13rem;
    margin-left: 13rem;
    height: 40rem;
  }
  .card {
    float: left;
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .container {
    padding: 2px 16px;
  }
  .card1 {
    width: 10%;
    float: left;
    margin-top: 7rem;
    /* margin-top: 15rem;
  */
    padding: 4px;
  }
  .card3 {
    width: 100%;
    float: left;
    margin-top: 2rem;
  }

  .svg1 {
    font-size: 6rem;
    width: 0.5rem;
    margin-left: 10%;
  }
  .btn {
    font-size: 20px;
  }
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .containerStack {
    display: grid;
    grid-template-areas: "stack";
    justify-content: center;
    align-items: center;

    /* height: 20vw; */
    margin-left: -1em;
    padding: 10px;
    transform: translateY(1.5em);
  }
  .containerStack > img {
    grid-area: stack;
  }
  .containerStack > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 150px;
    object-fit: fill;
  }
  .containerStack > img {
    --n-angle: calc(-1 * var(--angle));

    transform: rotate(var(--angle)) translateX(160px) rotate(var(--n-angle));
  }
}
@media screen and (min-width: 2200px) {
  .hello {
     color: rgb(33, 96, 119);
    margin-left: 130px;
    position: absolute;
    margin-top: 12rem;
  }
  .grid {
    display: block;
  }
  .typing {
    /* position: relative; */
     color: rgb(33, 96, 119);
    font-size: 2rem;
    background-size: 20px;
    /* margin-top: 17rem; */
    margin-left: 200px;

    /* margin-top: -8rem;
        margin-left: 10px; */
  }

  .web-span {
    color: aquamarine;
    font-size: 30px;
    letter-spacing: 1rem;
  }
  .typing1 {
    color: whitesmoke;
    font-size: 1.5rem;
    background-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-left: 200px;
    opacity: 0;
    transition: 1s ease-in;
  }
  .my-face {
    /* width: 10%;
    height: auto;
    border-radius: 40%;
    border: transparent;
    margin-right: 30px;
    margin-top: 2rem; */
    display: flex;
    margin-right: 30px;
    border-radius: 10%;
    float: right;
    width: 10%;
  }
  .row1 {
    display: none;
  }
  .text-TC {
    font-size: 20px;
    margin-top: -6rem;
    margin-right: 1rem;
  }
  /* div.container.span {
    visibility: none;
  } */
  .icon-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .svg {
    font-size: 7rem;
    /* width: 10rem; */
    color: rgba(114, 108, 108, 0.806);
    font-weight: light;
    /*
    */
    /* margin-top: -15rem; */
    margin-left: 150%;
    /* background-color: red; */
  }
  span.bars {
    display: none;
  }
  /* query for section one */
  /* card sec */
  .section-card {
    position: relative;
    background-color: transparent;
    width: 80%;
    height: 60rem;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 13rem;
    margin-left: 15rem;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    float: left;
    margin-top: 2rem;
    margin-left: 6rem;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .container {
    padding: 2px 16px;
  }
  .card1 {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    width: 10%;
    float: left;
    /* margin-top: 2rem; */
    margin-top: 15rem;
    padding: 4px;
  }
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    float: left;
    margin-top: 2rem;
  }
  /* .icon-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
} */
  .svg1 {
    font-size: 7rem;
    width: 0.5rem;
    /*
  */
    /* margin-left: 1rem; */
    /* transform: translateX(-50%); */
    /* background-color: red; */
  }
  .nav-links a {
    font-size: 3rem;
    margin-left: -1rem;
  }
  .btn {
    font-size: 30px;
  }
  .nav.sticky {
    position: fixed;
    background-color: transparent;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
